.questionnaire {
  &-section {
    margin-bottom: 4rem;
  }

  &-info {
    &-row {
      @include make-row();
    }

    &-label {
      @include make-lg-column(2);
      &:after {
        content: ':';
      }

      font-weight: bold;
    }
  }

  &-row {
    @include make-row();
    margin-bottom: 2rem;

    .questionnaire-textarea {
      max-width: 100%;
      width: 40rem;
      min-height: 10rem;
    }
  }

  &-label {
    @include make-lg-column(3);
    text-align: right;
    font-weight: normal;

    &.required:after {
      content: ' *';
    }
  }

  &-field {
    @include make-lg-column(9);

    .radio {
      padding-left: 12px;
      margin-top: 0;
    }
  }

  &-header {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}
