-# TODO: Implement real auth
= form_tag do
  %label{for: 'password'} Enter your password:
  %input.form-control{name: 'password', type: 'password', style: 'display: inline-block; margin-right: 12px'}
  %input.btn.btn-primary{type: 'submit'}
