<div class="state-form">
  <div class="state-form-overlay" ng-show="hsgStateFormCtrl.isProcessing">
    <div class="state-form-overlay-spinner">
    </div>
  </div>
  <fieldset ng-disabled="hsgStateFormCtrl.isProcessing" ng-show="!hsgStateFormCtrl.successMessage">
    <ng-transclude></ng-transclude>
  </fieldset>
  <div class="alert alert-success state-form-success" ng-show="hsgStateFormCtrl.successMessage">
    {{hsgStateFormCtrl.successMessage}}
  </div>
</div>
