<p>
  <%= get_setting('email_closing') %><br />
  <span style="font-family:'Harlow Solid Italic'; color:maroon"><%= get_setting('director_name') %></span><br />
  <strong><%= get_setting('director_title') %></strong><br />
  <%= get_setting('church_name') %><br />
  <a href="<%= get_setting('church_website_url') %>"><%= get_setting('church_website_url') %></a><br />
</p>
