<p>Dear <%= @appointment.member_name %>,</p>

<p>This is an automated message to confirm and/or notify you that your Highrock Spiritual Guides appointment scheduled for <strong style="color: #C00000"><%= @appointment.appointment_slot.strftime("%A, %B #{@appointment.appointment_slot.day.ordinalize}") %></strong> has been cancelled either by you or the spiritual guides.</p>

<p>You can <a href="<%= root_url %>">click here</a> to reschedule an appointment with Highrock Spiritual Guides.</p>

<p>God bless you on your journey!</p>

<%= render partial: 'signature' %>
