<p>
  <img src="http://www.highrock.org/_img/highrock-guides-logo.jpg" alt="Highrock Guides Logo" />
</p>
<p><i>Thank you for filling out the <%= @appointment.appointment_type.name.downcase %> questionnaire!  Below please find your answers for your records.  Please pray with us that your meeting will be a meaningful experience of discovering what God is doing in your life and discerning how God might be inviting you to grow.  If you have any questions prior to your appointment, please contact <a href="mailto:<%= get_setting('admin_email') %>"><%= get_setting('admin_email') %></a>.</i></p>

<%# TODO: Too complicated, move to presenter %>
<%- @questionnaire.field_output_order.each do |field| %>
  <%= render partial: 'question', locals: { label: I18n.t("simple_form.labels.questionnaire.#{field}"), value: @questionnaire.send(field)} %>
<% end %>
<%- @questionnaire.categories.each do |category| %>
  <% category.questions.each do |question| %>
    <%= render partial: 'question', locals: { label: question.text, value: @questionnaire.send("question_#{question.id}")} %>
  <% end %>
<% end %>

