<style type="text/css">
p {
  margin-bottom: 10px;
}
</style>
<p>Dear <%= @appointment.member_name %>,</p>
<p>
  This is an automated reminder that you have signed up for a <%= @appointment_type.description %> on <strong style="color: #C00000"><%= @appointment.appointment_slot.strftime("%A, %B #{@appointment.appointment_slot.day.ordinalize}") %></strong>!   Your appointment is at <strong style="color: #C00000"><%= @appointment.appointment_slot.strftime('%l:%M %P') %></strong><% if @location %> in <%= @location_name %> (<%= @location.description %>)<% end %>.  You will be meeting with <%= @appointment.guide1 && @appointment.guide1.name || 'TBA' %> and <%= @appointment.guide1 && @appointment.guide2.name || 'TBA' %> and you should allot about an hour for the meeting.
</p>
<p>If you have already filled out your questionnaire for your meeting, thank you! We look forward to journeying with you. (<span style="text-decoration:underline">Please note</span>: if you filled out your questionnaire already but have since rescheduled your appointment and are now meeting with different guides, you will need to forward your e-mail copy of the questionnaire to the new guides.  We do not keep a record of your questionnaire in our system.)    </p>
<p>
  <strong>If you have not already filled out your questionnaire, this is a reminder that your questionnaire is due tomorrow.</strong>  If you have not already filled out the questionnaire for your meeting, please refer to your original confirmation e-mail for instructions about how to fill it out and please do so by the deadline.  If you miss the deadline, your appointment may need to be rescheduled.  It is very important for your spiritual guides to review your questionnaire beforehand in order for you to have the best possible experience.
</p>
<p style="font-size: 1.3em"><a href="<%= "#{root_url}questionnaire/#{@appointment.questionnaire_instance_id}" %>">Please click here to fill out <%= @appointment_type.questionnaire_description %> by tomorrow, <%= @tomorrowDate.strftime("%A, %B #{@tomorrowDate.day.ordinalize}") %> at 5:00 PM.</a></p>
<% if @appointment_type.slug == 'new_member' %>
  <p>
    If you would like more guidance on what to expect and how to best prepare for your Highrock Spiritual Guides meeting, please <a href="<%= get_setting('prepare_url') %>">click here</a>.
  </p>
<% end %>
<p>We look forward to listening to God and journeying with you!</p>
<%= render partial: 'signature' %>
