<p>Hi <%= @guide.first_name %>,</p>

<p>You've been registered as a guide for the Spiritual Guides scheduling tool. This tool is a way for you to manage and create new appointments with members of the church.</p>

<p>Please click the link below and use the following email and temporary password to log in. You'll be prompted to change your password when you log in for the first time.</p>

<p>
  <b>Email:</b> <%= @guide.email %><br>
  <b>Password:</b> <%= @guide.password %>
</p>

<p><%= link_to 'Log in', "#{@root}/admin/login" %></p>
