<form hsg-state-form class="form-horizontal" name="editForm" ng-submit="modalCtrl.submit()" novalidate>
  <div class="modal-header">
    <button class="close" type="button" ng-click="modalCtrl.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{::modalCtrl.title}}</h4>
  </div>
  <div class="modal-body">
    <p class="alert alert-info" ng-if="!modalCtrl.guide.id">
      <strong>Note:</strong> Creating a new guide will create a temporary password and send a welcome email to him/her. Check the box below to avoid this. If the box is checked, the new guide will need to go through the "forgot password" flow in order to log in.
    </p>
    <p ng-if="modalCtrl.globalError" class="alert alert-danger">
      {{modalCtrl.globalError}}
    </p>
    <hsg-form-group label="First name" input-name="first_name">
      <hsg-form-group-input>
        <input class="form-control" ng-model="modalCtrl.guide.first_name"
            name="first_name" required>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a first name</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group label="Last name" input-name="last_name">
      <hsg-form-group-input>
        <input class="form-control" ng-model="modalCtrl.guide.last_name"
            name="last_name" required>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a last name</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group label="Email" input-name="email">
      <hsg-form-group-input>
        <input class="form-control" ng-model="modalCtrl.guide.email"
            name="email" required type="email">
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter an email address</ng-message>
        <ng-message when="email">Please enter a valid email address</ng-message>
        <ng-message when="taken">This email is already taken - check to make sure this guide hasn't been created already</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group ng-if="!modalCtrl.guide.id" label="Confirm email" input-name="email_confirm">
      <hsg-form-group-input>
        <input class="form-control" name="email_confirm" matches-text="modalCtrl.guide.email" ng-model="emailConfirm" type="email">
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="matchesText">Both fields must match</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group label="Is admin?" label-class="checkbox-label" input-name="is-admin">
      <hsg-form-group-input>
        <label><input type="checkbox" name="is-admin" id="is-admin" ng-model="modalCtrl.guide.is_admin"></label>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter an email address</ng-message>
        <ng-message when="email">Please enter a valid email address</ng-message>
        <ng-message when="taken">This email is already taken - check to make sure this guide hasn't been created already</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <div class="checkbox" ng-if="!modalCtrl.guide.id">
      <label>
        <input type="checkbox" ng-model="modalCtrl.noEmail" ng-true-value="true" ng-false-value="null">
        Don't send welcome email
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="modalCtrl.close()">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" ng-disabled="editForm.$submitted && editForm.$invalid">
      {{::modalCtrl.submitText}}
    </button>
  </div>
</form>
