<div class="modal-header">
  <button class="close" type="button" ng-click="modalCtrl.close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Delete this guide?</h4>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to delete <strong>{{modalCtrl.guide.first_name}} {{modalCtrl.guide.last_name}}</strong> from the Guides database?
  </p>
  <p ng-if="modalCtrl.appointmentCount">
    <strong>{{modalCtrl.guide.first_name}} {{modalCtrl.guide.last_name}}</strong> is assigned to <strong>{{modalCtrl.appointmentCount}}</strong> future appointments. If you delete this guide, these appointments won't show up to guidees until you assign new guides to them.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-disabled="modalCtrl.isProcessing" ng-click="modalCtrl.close()">
    No, keep
  </button>
  <button class="btn btn-danger" type="button" ng-disabled="modalCtrl.isProcessing" ng-click="modalCtrl.submit()">
    Yes, delete
  </button>
</div>
