<form hsg-state-form success-message="Test" class="form-horizontal" name="editForm" ng-submit="modalCtrl.submit($event)" novalidate>
  <div class="modal-header">
    <button class="close" type="button" ng-click="modalCtrl.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{::modalCtrl.title}}</h4>
  </div>
  <div class="modal-body">
    <p ng-if="modalCtrl.globalError" class="alert alert-danger">
      {{modalCtrl.globalError}}
    </p>
    <hsg-form-group input-name="date" label="Date">
      <hsg-form-group-input>
        <input class="form-control" ng-model="modalCtrl.appointment.appointment_slot_date"
            name="date" hsg-jq-datepicker required ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/">
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a date</ng-message>
        <ng-message when="pattern">Date should be in the format <em>mm/dd/yyyy</em></ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="time" label="Time">
      <hsg-form-group-input>
        <input class="form-control" ng-model="modalCtrl.appointment.appointment_slot_time"
            required ng-pattern="/^(1[0-2]|[1-9]):([0-5][0-9]|60)[ap]m$/" name="time" hsg-jq-timepicker>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a time</ng-message>
        <ng-message when="pattern">Time should be in the format <em>hour:minute(am/pm)</em></ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="guide1_id" label="Guide 1">
      <hsg-form-group-input>
        <ui-select ng-model="modalCtrl.appointment.guide1_id" theme="bootstrap"
            required name="guide1_id" ng-disabled="modalCtrl.isGuide1Disabled">
          <ui-select-match placeholder="-- Select a guide --">
            {{$select.selected.first_name}} {{$select.selected.last_name}}
          </ui-select-match>
          <ui-select-choices
              ui-disable-choice="guide.id == modalCtrl.appointment.guide2_id"
              repeat="guide.id as guide in (modalCtrl.guides | hsgGuideFilter: $select.search) track by guide.id">
            {{guide.first_name}} {{guide.last_name}}
          </ui-select-choices>
        </ui-select>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please select a guide</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="guide2_id" label="Guide 2">
      <hsg-form-group-input>
        <ui-select ng-model="modalCtrl.appointment.guide2_id" theme="bootstrap"
            name="guide2_id" ng-disabled="modalCtrl.isGuide2Disabled">
          <ui-select-match allow-clear="true" placeholder="-- Select a guide --">
            {{$select.selected.first_name}} {{$select.selected.last_name}}
          </ui-select-match>
          <ui-select-choices
              ui-disable-choice="guide.id == modalCtrl.appointment.guide1_id"
              repeat="guide.id as guide in (modalCtrl.guides | hsgGuideFilter: $select.search) track by guide.id">
            {{guide.first_name}} {{guide.last_name}}
          </ui-select-choices>
        </ui-select>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please select a guide</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="location_id" label="Location" required>
      <hsg-form-group-input>
        <select convert-to-number
            class="form-control" ng-model="modalCtrl.appointment.location_id" name="location_id">
          <option value="" ng-if="!modalCtrl.appointment.id">Auto-select</option>
          <option value="{{::location.id}}"
              ng-repeat="location in modalCtrl.locations track by location.id">
            {{::location.name}}
          </option>
        </select>
      </hsg-form-group-input>
    </hsg-form-group>
    <div class="form-section" ng-if="modalCtrl.isRegistrationActive()">
      <hsg-form-group input-name="member_name" label="Member name">
        <hsg-form-group-input>
          <input class="form-control" ng-model="modalCtrl.appointment.registration.member_name" name="member_name" required>
        </hsg-form-group-input>
        <hsg-form-group-errors>
          <ng-message when="required">Please enter the member's name</ng-message>
        </hsg-form-group-errors>
      </hsg-form-group>
      <hsg-form-group input-name="member_email" label="Member email">
        <hsg-form-group-input>
          <input class="form-control" ng-model="modalCtrl.appointment.registration.member_email" type="email" name="member_email" required>
        </hsg-form-group-input>
        <hsg-form-group-errors>
          <ng-message when="required">Please enter the member's email</ng-message>
          <ng-message when="email">Please enter a valid email</ng-message>
        </hsg-form-group-errors>
      </hsg-form-group>
      <hsg-form-group input-name="appointment_type_id" label="Appointment Type">
        <hsg-form-group-input>
          <select convert-to-number class="form-control"
            ng-model="modalCtrl.appointment.registration.appointment_type_id" name="appointment_type_id" required>
            <option value="">-- Select --</option>
            <option value="{{::appointmentType.id}}"
            ng-repeat="appointmentType in modalCtrl.appointmentTypes track by appointmentType.id">
            {{::appointmentType.name}}
            </option>
          </select>
        </hsg-form-group-input>
        <hsg-form-group-errors>
          <ng-message when="required">Please select an appointment type</ng-message>
        </hsg-form-group-errors>
      </hsg-form-group>
      <div class="form-group row" ng-if="modalCtrl.isRegistrationNew()">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="modalCtrl.appointment.send_confirmation_email">
              Send confirmation email
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="button" class="btn btn-danger" ng-click="modalCtrl.deleteRegistration()">
            Delete member registration
          </button>
        </div>
      </div>
    </div>
    <div class="row" ng-if="!modalCtrl.isRegistrationActive()">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" class="btn btn-primary" ng-click="modalCtrl.showRegistration()">
          Register a member
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="modalCtrl.close()">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" ng-disabled="editForm.$submitted && editForm.$invalid">
      {{::modalCtrl.submitText}}
    </button>
  </div>
</form>
