<div class="modal-header">
  <button class="close" type="button" ng-click="modalCtrl.close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Cancel this appointment?</h4>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to cancel the appointment at <strong>{{::modalCtrl.timeSlotText}}</strong>?
  </p>
  <div ng-if="modalCtrl.appointment.registration">
    <p>
      Unless the box below is checked, cancelling will send a notification email to <strong>{{::modalCtrl.appointment.registration.member_email}}</strong> and the guide(s) assigned to this appointment.
    </p>
    <div class="checkbox">
      <label>
        <input ng-model="modalCtrl.noSendEmail" type="checkbox">
        Don't send cancellation email
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-disabled="modalCtrl.isProcessing" ng-click="modalCtrl.close()">
    No, keep it
  </button>
  <button class="btn btn-danger" type="button" ng-disabled="modalCtrl.isProcessing" ng-click="modalCtrl.submit()">
    Yes, cancel it
  </button>
</div>

