- content_for :modal_content, flush: true do
  Are you sure you want to delete {{deleteName}}?
- content_for :modal_title, "Edit Guide: {{guideName}}", flush: true
- content_for :modal_confirm_class, 'btn-primary', flush: true
- content_for :modal_confirm_text, 'Update', flush: true

= render partial: 'admin/shared/modal_content'
