// @import 'bootstrap-datepicker3';
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker3';
@import 'datatables.net-bs/css/dataTables.bootstrap';
@import 'fullcalendar/dist/fullcalendar';
@import 'timepicker/jquery.timepicker';
@import 'admin/layout';
@import 'admin/elements';
@import 'admin/datatables';
@import 'admin/appointments';

// Fix for ui-select weird issue: https://github.com/angular-ui/ui-select/issues/830.
.form-inline .ui-select-container .ui-select-toggle,
.form-inline .ui-select-container .ui-select-search {
  width: 100%;
}

// ng-cloak style on load.
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
