// @import 'select2/select2';
// @import 'select2-bootstrap-css/select2-bootstrap';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'application/layout';
@import 'application/questionnaires';

.form-control:not(textarea), .filter-form-input {
  max-width: 200px;
}

.radio label {
  padding-left: 9px;
}

.control-label {
  white-space: nowrap;

  &.questionnaire-label {
    white-space: normal;
  }

  &.required:after {
    content: ' *';
  }
}

.margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt {
  margin-top: 16px;
}
