.filters {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  &-label {
    display: inline-block;
    margin-right: 1rem;
  }

 .form-group {
    display: inline-block;
    margin-right: 0.6rem;
    vertical-align: middle;

    &:last {
      margin-right: 0;
    }
  }
}
