.td-input {
  display: none;
}

.td-text {
  padding-left: 13px;
  line-height: 34px;
}

.dataTables_filter [type="search"] {
  margin-left: 7px;
}

.action-bar {
  margin-bottom: 2rem;
}

.action-button {
  margin-right: 1.2rem;
}

.dt-location {
  max-width: 20rem;
}

.dt-actions {
  min-width: 12rem;
  white-space: nowrap;
}

// Override bootstrap datatables styles.
table.dataTable {
  thead {
    .sorting:after,
    .sorting_asc:after,
    .sorting_desc:after {
      position: relative;
      display: inline-block;
      margin-left: 8px;
      top: 4px;
      right: auto;
    }
  }

  .text-incomplete {
    // TODO: Use $brand-warning.
    color: lighten(#000, 60%);
  }

  .td-disallowed {
    background-color: rgba($brand-warning, .1);
  }

  .tr-own {
    background-color: rgba($brand-primary, .1);
  }

  tfoot td {
    border-top: 3px solid #111;
  }
}
