.link {
    cursor: pointer;
}

.guide-filter {
  width: 18rem;
}

.filter-form {
    margin-bottom: 18px;
}

.filter-form-label {
    float: left;
    margin-right: 5px;
    margin-top: 7px;
}

.filter-form-input {
    @extend .form-control;
    float: left;
}

// Overrides for plugins.
.select2-result-label {
  white-space: nowrap;
}

.control-label-required:after {
  content: ' *';
}

textarea.question-field {
  margin-bottom: 2rem;
  width: 100rem;
  height: 8rem;
  display: inline-block;
}

.question-category {
  margin-top: 2.75rem;
  margin-bottom: 3.25rem;
}

.question-alert {
  max-width: 80%;
}

.question-delete-button {
  vertical-align: top;
}

.standard-form {
  max-width: 62.5rem;
}

.narrow-form {
  max-width: 40rem;
}

.form-row {
  margin-bottom: .75rem;
}

.form-field {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;

  &:last-of-type {
    border-bottom: 0;
  }
}


// FullCalendar.

.fc-event {
  background-color: $brand-warning;
  border-color: $brand-warning;
}

.fc-event-mine,
.fc-event-mine-populated {
  cursor: pointer;
}

.fc-event-mine {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.fc-event-mine-populated {
  background-color: $brand-success;
  border-color: $brand-success;
}

.tab-pane {
  padding-top: 1rem;
}

.appointments-calendar {
  max-width: 100rem;
}

.block-link-wrapper {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;

  a {
    font-weight: bold;
  }
}

.state-form {
  position: relative;
}

.state-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, .6);
}

.state-form-overlay-spinner {
  border-width: .75rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, .2);
  border-top-color: rgba(0, 0, 0, .5);
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loader .8s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-section {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.form-horizontal .control-label.checkbox-label {
  padding-top: 0;
  display: inline;
}

.state-form-success {
  max-width: 37.5rem;
}
