.page-header {
  margin: 0 0 1rem;
  padding: 1.5rem 2rem;
}

.main-heading {
  margin-bottom: 2.5rem;
}

@media (min-width: 1200px) {
  .container {
    width: 95%;
  }
}

.logo {
  margin: 0;
}

.main {
  padding-bottom: 5rem;
}

body.modal-open {
  overflow: visible;
}
