.questionnaire-section
  %h3.questionnaire-header Appointment information
  .questionnaire-info-row
    %span.questionnaire-info-label Your name
    = @appointment.member_name
  .questionnaire-info-row
    %span.questionnaire-info-label Your email
    = @appointment.member_email
  - if @appointment.guide2
    .questionnaire-info-row
      %span.questionnaire-info-label Guide 1
      = @appointment.guide1_name
    .questionnaire-info-row
      %span.questionnaire-info-label Guide 2
      = @appointment.guide2_name
  - else
    .questionnaire-info-row
      %span.questionnaire-info-label Guide
      = @appointment.guide1_name
  -# TODO: Move strftimes to presenter.
  .questionnaire-info-row
    %span.questionnaire-info-label Appointment date
    = @appointment.appointment_slot.strftime('%A, %B %-d')
  .questionnaire-info-row
    %span.questionnaire-info-label Appointment time
    = @appointment.appointment_slot.strftime('%l:%M %P')
  = yield
