= simple_form_for @questionnaire, url: url_for, wrapper: :questionnaire_form do |f|
  = render 'appointment_info'

  %h3 Personal information
  .alert.alert-info{role: 'alert'}
    Is your MyRock information up-to-date? If not, please correct below.

  = f.input :address, as: :text, input_html: {class: 'questionnaire-textarea'}
  = f.input :phone
  = f.input :highrock_campus

  .margin
    - if @questionnaire.guides_appointment?
      %p
        Ponder these questions before God as you prepare for your appointment.  One or two of them may seem to fit your circumstances at this moment in time.  Bring those questions with you into the spiritual conversation.
    - else
      %p
        The purpose of these questions and meeting is to help our members grow in Christ and stay connected with our spiritual community.
      %p
        Please answer each question with a few sentences or a short paragraph. You can always explain more in person if there is a particular section you want to focus on.


  - @questionnaire.categories.each do |category|
    .questionnaire-section
      - if @questionnaire.categories.size > 1
        %h3.questionnaire-header= category.text
      - if category.instructions
        .alert.alert-info{role: 'alert'}= category.instructions
      - category.questions.each do |question|
        = f.input "question_#{question.id}", label: question.text, as: :text, input_html: {class: 'questionnaire-textarea'}

  .col-lg-offset-3.col-lg-9
    = f.submit 'Submit', class: 'btn btn-primary'
