%h2 Thank you
%p
  Thank you for filling out this Highrock Spiritual Guides questionnaire! Please check your email and find your answers for your records. Please pray with us that your meeting will be a meaningful experience of discovering what God is doing in your life and discerning how God might be inviting you to grow. If you have any questions prior to your appointment, please contact
  %a{href:"mailto:#{get_setting('admin_email')}"}= "#{get_setting('admin_email')}."
