<div class="modal-header">
  <button class="close" type="button" ng-click="modalCtrl.close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Save these changes?</h4>
</div>
<div class="modal-body">
  <p>
    Saving changes will delete <strong>{{::modalCtrl.locationCount}}</strong> location{{::modalCtrl.locationCount === 1 ? '' : 's'}}? {{::modalCtrl.locationCount === 1 ? 'This' : 'These'}} location{{::modalCtrl.locationCount === 1 ? ' is' : 's are'}} tied to <strong>{{::modalCtrl.appointmentCount}}</strong> future appointment{{::modalCtrl.appointmentCount === 1 ? '' : 's'}}. If you delete these locations, these appointments won't show up to guidees until you assign new locations to them.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="modalCtrl.close()">
    No, don't save
  </button>
  <button class="btn btn-danger" type="button" ng-click="modalCtrl.submit()">
    Yes, save (and delete)
  </button>
</div>
