<h1>Account</h1>
<h3>Basic info</h3>
<form hsg-state-form class="standard-form" name="infoForm" ng-submit="accountCtrl.submit()" novalidate>
  <hsg-form-group label="First name" input-name="first_name">
    <hsg-form-group-input>
      <input class="form-control" ng-model="accountCtrl.guide.first_name"
      name="first_name" required>
    </hsg-form-group-input>
    <hsg-form-group-errors>
      <ng-message when="required">Please enter a first name</ng-message>
    </hsg-form-group-errors>
  </hsg-form-group>
  <hsg-form-group label="Last name" input-name="last_name">
    <hsg-form-group-input>
      <input class="form-control" ng-model="accountCtrl.guide.last_name"
      name="last_name" required>
    </hsg-form-group-input>
    <hsg-form-group-errors>
      <ng-message when="required">Please enter a last name</ng-message>
    </hsg-form-group-errors>
  </hsg-form-group>
  <hsg-form-group label="Email" input-name="email">
    <hsg-form-group-input>
      <p class="alert alert-warning">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Remember that this is your username for logging into the system, so please take care when changing it!
      </p>
      <input class="form-control" ng-model="accountCtrl.guide.email"
      name="email" required type="email" ng-change="infoForm.email.$setValidity('taken', true)">
    </hsg-form-group-input>
    <hsg-form-group-errors>
      <ng-message when="required">Please enter an email address</ng-message>
      <ng-message when="email">Please enter a valid email address</ng-message>
      <ng-message when="taken">This email is already taken</ng-message>
    </hsg-form-group-errors>
  </hsg-form-group>
  <button class="btn btn-primary" type="submit" ng-disabled="form.$submitted && form.$invalid">
    Save
  </button>
</form>
<h3>Change password</h3>
<hsg-new-password-form></hsg-new-password-form>
