<div hsg-appointment>
  <h1 class="main-heading">Appointments</h1>
  <uib-tabset active="appointmentCtrl.activeTab">
    <uib-tab index="0" heading="Table">
      <div class="tab-pane">
        <div class="filters" action="">
          <h5 class="text-info filters-label">
             Filter by:
          </h5>
          <div class="form-group">
            <label for="from_date">
              From date
            </label>
            <input class="form-control" ng-model="appointmentCtrl.startDateFilter"
                name="from_date" hsg-jq-datepicker hsg-date-parser ng-change="appointmentCtrl.filterChange()">
          </div>
          <div class="form-group">
            <label for="to_date">
              To date
            </label>
            <input class="form-control" ng-model="appointmentCtrl.endDateFilter"
                name="to_date" hsg-jq-datepicker hsg-date-parser ng-change="appointmentCtrl.filterChange()">
          </div>
          <div class="form-group">
            <label for="guide">Guide</label>
            <ui-select class="guide-filter" ng-model="appointmentCtrl.guideFilter" 
                on-select="appointmentCtrl.filterChange()" theme="bootstrap">
              <ui-select-match placeholder="Any" guide="">
                {{$select.selected.first_name}} {{$select.selected.last_name}}
              </ui-select-match>
              <ui-select-choices repeat="guide.id as guide in (appointmentCtrl.guides | hsgGuideFilter: $select.search) track by guide.id">
                {{guide.first_name}} {{guide.last_name}}
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group" ng-if="appointmentCtrl.user.isAdmin()">
            <label for="member">Member name/email</label>
            <input class="form-control" name="member" placeholder="Member name/email"
                ng-change="appointmentCtrl.filterChange()" ng-model="appointmentCtrl.memberFilter"
                ng-model-options="{debounce: 200}">
          </div>
        </div>

        <div class="action-bar">
          <button class="action-button btn btn-primary" ng-click="appointmentCtrl.openNewModal()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add new appointment
          </button>
          <a class="action-button btn btn-success" href="" ng-href="{{appointmentCtrl.getCsvDownloadUrl()}}" target="_blank" download="appointments.csv">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            Download CSV
          </a>
        </div>
        <table class="table table-bordered" style="width: 100%" hsg-appointment-table></table>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Calendar">
      <div class="tab-pane">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="appointmentCtrl.showSelfOnly" ng-true-value="true" ng-false-value="null">
            Show only my appointments
          </label>
        </div>
        <hsg-appointment-calendar></hsg-appointment-calendar>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
