<div>
  <h1 class="main-heading">Guides</h1>
  <div class="action-bar">
    <button class="btn btn-primary" ng-click="guideCtrl.openNewModal()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add new guide
    </button>
  </div>
  <table hsg-guide-table class="table" guides="guideCtrl.guides"></table>
</div>
