<div>
  <h1 class="main-heading">Locations</h1>
  <p>
    Descriptions will be shown in the email instructions mailed out to guidees.
  </p>
  <form hsg-state-form class="standard-form" name="form" ng-submit="locationsCtrl.submit()" novalidate>
    <div ng-repeat="location in locationsCtrl.locations track by $index" ng-if="!location._delete" class="form-field row">
      <div class="col-sm-9">
        <div class="form-row">
          <label>Label</label>
          <input ng-model="location.name" class="form-control" placeholder='e.g. "Mill St Meeting Room B" or "Pastor Dave&apos;s Office"'>
        </div>
        <div class="form-row">
          <label>Description/Directions</label>
          <input ng-model="location.description" class="form-control" placeholder="e.g. Mill Street, first door on your right after entering the building">
        </div>
      </div>
      <div class="col-sm-1">
        <label>&nbsp;</label>
        <button class="btn btn-danger" type="button" ng-click="locationsCtrl.delete(location)">
          Delete
        </button>
      </div>
    </div>
    <button class="btn btn-primary action-button" type="button" ng-click="locationsCtrl.new()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add new location
    </button>
    <button class="btn btn-success" type="submit" ng-disabled="form.$submitted && form.$invalid">
      Save
    </button>
  </form>
</div>
