<h1>Sign in</h1>
<form hsg-state-form no-success-message class="narrow-form" name="form" ng-submit="loginCtrl.login()" novalidate>
  <p ng-if="loginCtrl.globalError" class="alert alert-danger">
    {{loginCtrl.globalError}}
  </p>
  <hsg-form-group input-name="email" label="Email">
    <hsg-form-group-input>
      <input class="form-control" type="email" name="email" ng-model="loginCtrl.email" required>
    </hsg-form-group-input>
    <hsg-form-group-errors>
      <ng-message when="required">Please enter an email</ng-message>
      <ng-message when="email">Please enter a valid email</ng-message>
    </hsg-form-group-errors>
  </hsg-form-group>
  <hsg-form-group input-name="password" label="Password" required>
    <hsg-form-group-input>
      <input class="form-control" type="password" ng-model="loginCtrl.password" required>
    </hsg-form-group-input>
    <hsg-form-group-errors>
      <ng-message when="required">Please enter your password</ng-message>
    </hsg-form-group-errors>
  </hsg-form-group>
  <div class="block-link-wrapper">
    <a ui-sref="reset-password({email: loginCtrl.email})">I forgot my password</a>
  </div>
  <input class="btn btn-primary" type="submit" value="Sign in" ng-disabled="form.$submitted && form.$invalid">
</form>
