<ul ng-cloak class="nav nav-pills" ng-if="navCtrl.user">
  <li ui-sref-active="active">
    <a ui-sref="appointments">Appointments</a>
  </li>
  <li ui-sref-active="active" ng-if="navCtrl.user.isAdmin()">
    <a ui-sref="guides">Guides</a>
  </li>
  <li ui-sref-active="active" ng-if="navCtrl.user.isAdmin()">
    <a ui-sref="questions">Questions</a>
  </li>
  <li ui-sref-active="active" ng-if="navCtrl.user.isAdmin()">
    <a ui-sref="locations">Locations</a>
  </li>
  <li ui-sref-active="active" ng-if="navCtrl.user.isAdmin()">
    <a ui-sref="settings">Settings</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="account">Account</a>
  </li>
  <li>
    <a ui-sref="logout">
      Sign out
    </a>
  </li>
</ul>
