<form hsg-state-form class="standard-form" name="passwordForm" ng-submit="formCtrl.submit()" novalidate>
  <hsg-form-group label="New password" input-name="password">
    <hsg-form-group-input>
      <input class="form-control" ng-model="formCtrl.password"
          name="password" type="password" ng-minlength="formCtrl.minLength" required>
    </hsg-form-group-input>
    <hsg-form-group-errors>
      <ng-message when="required">Please enter a password</ng-message>
      <ng-message when="minlength">Password must be at least {{::formCtrl.minLength}} characters long</ng-message>
    </hsg-form-group-errors>
  </hsg-form-group>
  <hsg-form-group label="Confirm password" input-name="password_confirm">
    <hsg-form-group-input>
      <input class="form-control" ng-model="formCtrl.passwordConfirm"
      name="password_confirm" matches-text="formCtrl.password" type="password">
    </hsg-form-group-input>
    <hsg-form-group-errors>
      <ng-message when="matchesText">Both fields must match</ng-message>
    </hsg-form-group-errors>
  </hsg-form-group>
  <button class="btn btn-primary" type="submit" ng-disabled="form.$submitted && form.$invalid">
    Update
  </button>
</form>
