<div>
  <a ui-sref="questions">&laquo; Back to list of surveys</a>
  <h1 class="main-heading">{{::detailCtrl.appointmentType.name}} questionnaire</h1>
  <form hsg-state-form ng-submit="detailCtrl.submit()">
    <div class="alert alert-info question-alert">
      <strong>Note</strong>: You must click the "Save all changes" button below for all your changes on this page to take effect.
    </div>
    <button type="submit" class="btn btn-success">
      Save all changes
    </button>
    <div ng-repeat="questionCategory in detailCtrl.appointmentType.question_categories track by questionCategory.id" class="question-category">
      <h4>{{::questionCategory.text}}</h4>
      <div ng-repeat="question in questionCategory.questions track by $index"
         ng-if="!question._destroy" class="question">
        <textarea class="form-control question-field" ng-model="question.text"></textarea>
        <button type="button" class="btn btn-danger question-delete-button" ng-click="detailCtrl.deleteQuestion(question)">
          Delete
        </button>
      </div>
      <button type="button" class="btn btn-primary" ng-click="detailCtrl.addQuestionToCategory(questionCategory)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add a question
      </button>
    </div>
  </form>
</div>
