<div>
  <h1 class="main-heading">Questions</h1>
  <h4>Select a survey:</h4>
  <ul class="list-unstyled">
    <li ng-repeat="appointmentType in questionCtrl.appointmentTypes track by appointmentType.id">
      <a ui-sref="questionDetail({id: appointmentType.id})">
        {{::appointmentType.name}}
      </a>
    </li>
  </ul>
</div>
