<a ui-sref="login">&laquo; Back to sign in</a>
<h1>Reset password</h1>
<form hsg-state-form class="narrow-form" name="form" ng-submit="resetCtrl.submit()" novalidate>
  <p class="alert alert-info">To reset your password, type in the email that you usually use to log in. You'll be sent an email with instructions for how to reset your password.</p>
  <p ng-if="resetCtrl.globalError" class="alert alert-danger">
    {{resetCtrl.globalError}}
  </p>
  <hsg-form-group input-name="email" label="Email">
    <hsg-form-group-input>
      <input class="form-control" type="email" name="email" ng-model="resetCtrl.email" required>
    </hsg-form-group-input>
    <hsg-form-group-errors>
      <ng-message when="required">Please enter an email</ng-message>
      <ng-message when="email">Please enter a valid email</ng-message>
    </hsg-form-group-errors>
  </hsg-form-group>
  <input class="btn btn-primary" type="submit" value="Reset my password" ng-disabled="form.$submitted && form.$invalid">
</form>
