<div class="standard-form">
  <h1 class="main-heading">Settings</h1>
  <form hsg-state-form name="form" ng-submit="settingsCtrl.submit()" novalidate>
    <p class="alert alert-info">Below you can find settings that vary among the churches using this platform. They primarily affect email content and various other instructions throughout the site.</p>
    <hsg-form-group input-name="admin_email" label="Admin email">
      <hsg-form-group-input>
        <input class="form-control" type="email" ng-model="settingsCtrl.settings.admin_email"
            name="admin_email" required>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter an email</ng-message>
        <ng-message when="email">Please enter a valid email</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="director_email" label="Director email">
      <hsg-form-group-input>
        <input class="form-control" type="email" ng-model="settingsCtrl.settings.director_email"
            name="director_email" required>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter an email</ng-message>
        <ng-message when="email">Please enter a valid email</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="director_name" label="Director name">
      <hsg-form-group-input>
        <input class="form-control" ng-model="settingsCtrl.settings.director_name"
            name="director_name" required>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a name</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-title="director_title" label="Director title">
      <hsg-form-group-input>
        <input class="form-control" ng-model="settingsCtrl.settings.director_title"
            title="director_title" required
            placeholder="e.g. Director of Spiritual Guides">
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a title</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="church_name" label="Church name">
      <hsg-form-group-input>
        <input class="form-control" ng-model="settingsCtrl.settings.church_name"
            name="church_name" required
            placeholder="e.g. Highrock Covenant Church">
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter the church's name (e.g. Highrock Covenant Church)</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="church_website_url" label="Church website">
      <hsg-form-group-input>
        <input class="form-control" ng-model="settingsCtrl.settings.church_website_url"
            type="url" name="church_website_url" required
            placeholder="e.g. http://www.highrock.org">
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a website</ng-message>
        <ng-message when="url">Please enter a valid website</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="email_closing" label="Email closing">
      <hsg-form-group-input>
        <input class="form-control" ng-model="settingsCtrl.settings.email_closing"
            name="email_closing" required>
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter an email closing.</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="prepare_url" label="Preparation URL">
      <hsg-form-group-input>
        <input class="form-control" ng-model="settingsCtrl.settings.prepare_url"
            name="prepare_url" required type="url"
            placeholder="e.g. http://www.highrock.org/spiritualguidesprepare/">
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a website</ng-message>
        <ng-message when="url">Please enter a valid website</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <hsg-form-group input-name="ministry_description_url" label="Ministry Description URL">
      <hsg-form-group-input>
        <input class="form-control" ng-model="settingsCtrl.settings.ministry_description_url"
            name="ministry_description_url" required type="url"
            placeholder="e.g. http://www.highrock.org/spiritualguides/">
      </hsg-form-group-input>
      <hsg-form-group-errors>
        <ng-message when="required">Please enter a website</ng-message>
        <ng-message when="url">Please enter a valid website</ng-message>
      </hsg-form-group-errors>
    </hsg-form-group>
    <button class="btn btn-primary" type="submit" ng-disabled="form.$submitted && form.$invalid">
      Save
    </button>
  </form>
</div>
