<p>
  Thank you for signing up for your <%= appointment_description %> on <strong style="color: #C00000"><%= @appointment.appointment_slot.strftime("%A, %B #{@appointment.appointment_slot.day.ordinalize}") %></strong>!   Your appointment is at <strong style="color: #C00000"><%= @appointment.appointment_slot.strftime('%l:%M %P') %></strong><% if @location %> in <%= @location_name %> (<%= @location.description %>)<% end %>.  You will be meeting with <%= @appointment.guide_names %> and you should allot about an hour for the meeting.
</p>
