<style type="text/css">
p {
  margin-bottom: 10px;
}
</style>
<p>Dear <%= @appointment.member_name %>,</p>
<%= render partial: 'guides_mailer/registration/appointment_time', locals: {
  appointment_description: 'appointment with the Highrock Spiritual Guides'
} %>
<p>
As a reminder, the mission of Highrock Spiritual Guides is to provide individualized spiritual care and direction to all of our members on a regular basis by other trained Highrockers.  (For a fuller description of the ministry, please <a href="<%= get_setting('ministry_description_url') %>">click here</a>.)  We are so glad that you have taken advantage of this opportunity and we look forward to journeying with you once again. 
</p>
<p style="font-weight: bold; font-size: 120%;">
  <a href="<%= "#{root_url}questionnaire/#{@appointment.questionnaire_instance_id}" %>">Please click here to fill out <%= @appointment_type.questionnaire_description %> by <%= @questionnaireDueDate.strftime("%A, %B #{@questionnaireDueDate.day.ordinalize}") %> at 5:00 PM</a>.
</p>
<p>
  If you still have your own questionnaire and/or follow-up e-mail from your last meeting, we do encourage you to look them over and forward them to your guides if you like.  The more context your guides have, the richer your experience is likely to be.
</p>
<p>
  We are praying for your spiritual growth!  Let us know if you have any questions in the meantime. 
</p>
<%= render partial: 'signature' %>

