<style type="text/css">
p {
  margin-bottom: 10px;
}
</style>
<p>Dear <%= @appointment.member_name %>,</p>
<%= render partial: 'guides_mailer/registration/appointment_time', locals: {
  appointment_description: 'New Member Interview Appointment'
} %>
<p>
  The mission of Highrock Spiritual Guides is to provide individualized spiritual care and direction to members and regulars of Highrock by other trained Highrockers. We hope that you will view this appointment as more than a "check the box" activity on the way to membership and encourage you to approach this appointment as an opportunity to prayerfully reflect on questions such as: Where is your relationship with God right now? What might God be saying to you at this point in your journey? What is the next major step you need to take in your spiritual life? You will get as much from this experience as you put into it. We look forward to listening to God and journeying with you!
</p>
<p>
  A full description of this ministry can be found <a href="<%= get_setting('ministry_description_url') %>">on our website</a>. If you would like more guidance on what to expect and how to best prepare for your Highrock Spiritual Guides meeting, please <a href="<%= get_setting('prepare_url') %>">click here</a>. The Highrock Spiritual Guides ministry is available to you beyond your new member interview - you are welcome to meet with us throughout the year.
</p>
<p style="font-weight: bold; font-size: 120%;">
  <a href="<%= @questionnaireUrl %>">Click here to fill out the New Member Questionnaire by <%= @questionnaireDueDate.strftime("%A, %B #{@questionnaireDueDate.day.ordinalize}") %> at 5:00 PM</a>.
</p>
<p>
  Please do not feel that you need to spend more than a half hour or so on this questionnaire.  Complete sentences are not necessary.  All questions on this questionnaire are optional for you to answer, and your identity will be kept confidential within the Highrock Spiritual Guides ministry and pastoral staff.  
  Just answer whatever you feel comfortable answering, but do keep in mind that the questionnaire is designed for us to get to know you better before our meeting and to improve our ability to provide you with care in our brief time together.
</p>
<p>
  We are praying for your spiritual growth!  Let us know if you have any questions in the meantime. 
</p>
<%= render partial: 'signature' %>
