<style type="text/css">
p {
  margin-bottom: 10px;
}
</style>
<p>Dear <%= @appointment.member_name %>,</p>
<%= render partial: 'guides_mailer/registration/appointment_time', locals: {
  appointment_description: 'appointment with the Highrock Spiritual Guides'
} %>
<p>
  Guides are trained under pastoral supervision to provide personal soul care through spiritual conversations to members and regular attenders. (For a fuller description of the ministry, please <a href="<%= get_setting('ministry_description_url') %>">click here</a>.
</p>
<p>
  We encourage you to approach this time as an opportunity to prayerfully reflect on questions such as:
</p>
<ul>
  <li>Where is your relationship with God right now?</li> 
  <li>What might God be saying to you at this point in your journey?</li> 
  <li>What next step in your spiritual journey may God be inviting you to take?</li>  
</ul>
<p style="font-weight: bold; font-size: 120%;">
  <a href="<%= @questionnaireUrl %>">Click here to fill out a brief survey to prepare for your appointment by <%= @questionnaireDueDate.strftime("%A, %B #{@questionnaireDueDate.day.ordinalize}") %> at 5:00 PM</a>.
</p>
<p>
  The questionnaire is meant to take not longer than half an hour.  It helps you prepare for the meeting and helps us get to know you.  Feel free to answer in bullet points.  If a question makes you uncomfortable, you can answer it later in person or pass on the question.  It is helpful if you answer as many questions as possible.  Your information will be kept confidential within the Guides ministry and pastoral staff.
</p>
<p>
  We are praying that you may encounter Jesus and grow deeper in relationship with him through this meeting!  If you have any questions before then, we welcome you to reach out.
</p>
<%= render partial: 'signature' %>
