.modal-content
  = simple_form_for(appointment, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
        %span{aria: {hidden: 'true'}} &times;
      %h4.modal-title 
        Sign up for
        = appointment.appointment_slot.strftime('%A, %B %d, %I:%M %P')
    .modal-body
      - if local_assigns.has_key? :errors
        .alert.alert-danger{role: 'alert'}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden:true}}
          %span.sr-only Error:
          Please fix the issues below:
      = f.simple_fields_for :registration do |r|
        = r.input :member_name, label: 'Name', required: true
        = r.input :member_email, label: 'Email', required: true, input_html: {type: 'email'}
        = r.input :member_email_confirmation, label: 'Confirm Email', required: true, input_html: {type: 'email'}
        = r.association :appointment_type, as: :radio_buttons, required: true, wrapper: :horizontal_radio_and_checkboxes
    .modal-footer
      %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
      %button.btn.btn-primary{type: 'submit'} Save
