%p
  Soul care through spiritual conversations is a gift Highrock offers you and our Spiritual Guides are eager to companion you as you journey with God.  A guides meeting lasts about an hour.  We offer you a listening ear without distractions.  You may want to meet with a guide you know or gain the perspective of someone new to you. If you have any questions or cannot find a time that works for you, please e-mail
  = succeed '.' do
    %a{href:"mailto:#{get_setting('admin_email')}"}= get_setting('admin_email')

.mt.alert.alert-warning
  Due to COVID-19, guides meetings are currently being held virtually.  We understand that a virtual format may not feel ideal for a guides meeting.  We invite you to open yourself to how the Holy Spirit can show up in spite of the virtual.  We will let you know when guides start meeting in-person again.

.mt.alert.alert-danger#js-conflict-error{style: ('display: none' unless flash[:conflict])}
  Sorry, someone else seems to have registered for this appointment. Please try registering for another.

- if @appointments.empty?
  .mt.alert.alert-info Sorry, there are no appointments available at this time.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Time
        %th Guide 1
        %th Guide 2
        %th
    %tbody
      - @appointments.each do |appointment|
        %tr
          %td= appointment.appointment_slot.strftime('%b %d, %Y (%A)')
          %td= appointment.appointment_slot.strftime('%I:%M %P')
          %td= appointment.guide1_name
          %td= appointment.guide2_name
          %td
            %button.btn.btn-primary.js-sign-up{data: {id: appointment.id}} Sign up

  #js-modal-form.modal.fade{role: 'dialog'}
    .modal-dialog
      - if @current_appointment
        = render partial: 'modal_form', locals: { appointment: @current_appointment }
