%h2 Thank you
%p Thank you for signing up for your Highrock Spiritual Guides appointment!
%p
  If you would like more guidance on what to expect and how to best prepare for your Highrock Spiritual Guides meeting, please
  = succeed '.' do
    %a{href: get_setting('prepare_url')} click here
%p We look forward to listening to God and journeying with you!
