<div class="form-group"
    ng-class="{'has-error': (formCtrl.$submitted || formCtrl[inputName].$touched) && formCtrl[inputName].$invalid}">
  <label ng-class="{'col-sm-3': isHorizontal}" class="control-label {{::labelClass}}" for="{{::inputName}}" ng-class="{'control-label-required': isRequired}">{{::label}}</label>
  <div ng-class="{'col-sm-6': isHorizontal}">
    <ng-transclude ng-transclude-slot="input"></ng-transclude>
    <ng-messages class="help-block" for="formCtrl[inputName].$error"
        ng-transclude="errors"
        ng-if="(formCtrl[inputName].$touched || formCtrl.$submitted) && formCtrl[inputName].$invalid">
    </ng-messages>
  </div>
</div>
