.td-string= appointment_slot.strftime('%m/%d/%Y %I:%M:%S')
.td-input
  = date_field_tag 'appointment_slot_date', appointment_slot.strftime('%m/%d/%Y')
  = time_field_tag 'appointment_slot_time', appointment_slot.strftime('%I:%M:%S')
