.td-string= collection.to_hash[appointment[property_id]].try(:name)
.td-input
  = select_tag(property_id, options_from_collection_for_select(collection, 'id', 'name'), selected: appointment[property_id])
