<%- content_for :stylesheets do %>
  <link rel="stylesheet" href="<%= gulp_asset_path('stylesheets/admin.css') %>">
<% end %>

<%- content_for :javascripts do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
  <%= javascript_include_tag 'admin-vendor' %>
  <script src="<%= gulp_asset_path('javascripts/admin.js')%>"></script>
<% end %>

<%- content_for :nav do %>
  <hsg-nav></hsg-nav>
<% end %>

<%- content_for :logo_link, 'home' %>

<%- @ng_app = 'admin' %>
<%= render template: 'layouts/common' %>
