- content_for :stylesheets do
  %link{rel: 'stylesheet', href: gulp_asset_path('stylesheets/application.css')}

- content_for :javascripts do
  %script{src: gulp_asset_path('javascripts/application.js')}

- content_for :logo_link, '/'

= render template: 'layouts/common'
