!!! 5
%html
  %head
    %title Highrock Spiritual Guides
    %base{href: '/'}
    = yield :stylesheets
  %body{'ng-app' => @ng_app, 'ng-strict-di' => ''}
    %header.page-header.clearfix
      %h1.logo.pull-left
        %a{'ui-sref' => yield(:logo_link)}
          %img{src: '/assets/images/mw.svg', alt: 'logo'}
      %nav.pull-right
        = yield :nav
    %main.main.container{'ui-view' => ''}
      = yield
    = yield :javascripts
